
.imgstyle{
    height: 200px;
}

.decentpad{
    padding: 10vw;
}

.sec{
    display: flex;
    min-height: 500px; /* Set a minimum height for each section */
    width: 100vw !important;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.containerwhole{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    margin: 0;
    padding: 0;
}

.leftdiv{
    flex: 1;
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
    border-radius: 3px;
}

#sec1{
    background-color: red;
}

#sec2{
    background-color: blue;
}

#sec3{
    background-color: green;
}