@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;

}

.container1 {
    z-index: 100;
    width: 20vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
}



.uppernav {
    width: 20vw;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-sizing: border-box;
    background: lightblue;
    box-sizing: border-box;
}

.profileimage {
    height: 50%;
    border-radius: 50%;
    border: 2px solid white;
    background: black;
    filter: grayscale(100%);
    margin-bottom: 10%;
}

.name {
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.undername {
    font-size: 1em;
    color: grey;
    margin: 0;
    padding: 0;
}

.middlenav {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}


#navlist {
    list-style: none;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#navlist li {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
    font-size: 1.2em;
    transition: all 0.3s;

}

#navlist li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(94, 94, 94);
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
}

#navlist li:hover {
    background: rgb(134, 197, 219);
    color: white;
    font-size: 1.5em;
}

#navlist li:hover a {
    color: black;
}

#navlist li.active {
    background: lightblue;
    color: white;
    font-size: 1.3em;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    box-sizing: border-box;
}

.bottomnav {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: lightblue;
}

.icondiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 0 5%;
}

.icondiv a img {
    transition: all 0.3s;
    opacity: 0.7;
    scale: 0.7;
}

.icondiv a:hover {
    transform: scale(1.2);
    opacity: 1;
}

/* Content */

.container2 {
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    box-sizing: border-box;
    transform: translateX(0);
    overflow: hidden;
}

#slider {
    width: 400vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    transition: transform 0.5s ease-in-out;
}

#slider.active1 {
    transform: translateX(0);
}

#slider.active2 {
    transform: translateX(-115vw);
}

#slider.active3 {
    transform: translateX(-230vw);
}

.content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    opacity: 1;
    transform: translateX(0%);
    z-index: 0;
    width: 80vw;
    height: 100%;
    overflow: scroll;
}

.divider,
.divider2 {
    width: 30vw;
    position: relative;
    top: -30%;
    left: -5%;
    transform: rotate(20deg);
    height: 300%;
    background: lightblue;
}

.divider {
    background: lightgrey;
    width: 5vw;
}

#content1 {}

#content2 {}



#content3 {}

.cv1 {
    background:  linear-gradient(270deg,rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)50%),url('images/gloesW.png') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: start;
}

.cv12 {
    width: 50%;
    height: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cv13 {
    width: 50%;
    height: 100%;
    border-radius:0 0 0 50% ;
    background: linear-gradient(90deg,rgba(255, 255, 255, 0.0), rgba(255, 255, 255, 0.2)100%), url('images/fjelltur.JPG') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.cv3 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}