<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container">
        <div class="container1">
            <div class="uppernav">
                <img src="{% static 'images/profilepicture.jpg' %}" alt="" class="profileimage">
                <p class="name">Skjalg Nysaeter</p>
                <p class="undername">Web Developer</p>
            </div>
            <div class="middlenav">
                <ul id="navlist">
                    <li id="navcontent1" onclick="changescene('content1')" class="active">Home</li>
                    <li id="navcontent2" onclick="changescene('content2')">Projects</li>
                    <li id="navcontent3" onclick="changescene('content3')">Contact</li>
                </ul>
            </div>
            <div class="bottomnav">
                <div class="icondiv">
                    <a href="https://www.linkedin.com/in/skjalg-nysaeter-3b3b3b1b3/"><img
                            src="{% static 'images/linkedinicon.png' %}" alt=""></a>
                    <a href="https://www.facebook.com/skjalg.nysaeter"><img src="{% static 'images/facebookicon.png' %}"
                            alt=""></a>
                    <a href="https://www.instagram.com/skjalg_nysaeter/"><img
                            src="{% static 'images/instagramicon.png' %}" alt=""></a>
                    <a href="https://www.github.com/skjalg-nysaeter"><img src="{% static 'images/githubicon.png' %}"
                            alt=""></a>
                </div>
            </div>
        </div>
        <div class="container2">
            <div id="slider">
                <div id="content1" class="content">
                    <div class="cv3">
                        <div class="cv12">
                            <p>Skjalg Nysaeter</p>
                            <p>Web Developer</p>
                        </div>
                        <div class="cv13">
                            <p>Skjalg Nysaeter</p>
                            <p>Web Developer</p>
                        </div>
                    </div>
                    <div class="cv1">
                        <p>Skjalg Nysaeter</p>
                        <p>Web Developer</p>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="divider2"></div>
                <div id="content2" class="content">
                    <p>Hva skjer</p>
                    <p>Hva skjer</p>
                    <p>Hva skjer</p>
                    <p>Hva skjer</p>
                    <p>Hva skjer</p>
                    <p>Hva skjer</p>
                </div>
                <div class="divider"></div>
                <div class="divider2"></div>
                <div id="content3" class="content">
                    <p>Ekstra content</p>
                    <p>Ekstra content</p>
                    <p>Ekstra content</p>
                    <p>Ekstra content</p>
                    <p>Ekstra content</p>
                    <p>Ekstra content</p>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>